<script>
  $(document).ready(function() {
    $('#body').append("<%= new_line(0) %>")
  });
</script>

<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-primary" id='panel1'>
    <div class="panel-heading">
      <h4>Step 1/2</h4>
    </div>
    <%= form_tag('/step2', method: 'post', remote: true) do %>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th><%= Product.human_attribute_name("name") %></th>
              <th><%= t("amount") %></th>
              <th><%= t("hours_a_day") %></th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody id='body'>

          </tbody>
        </table>
        <div class="row">
          <div style="text-align:center">
            <%= link_to 'New product', '/addline/1', remote: true, class: 'btn btn-primary', id: 'addlinebutton' %>
          </div>
        </div>
      </div>
      <div class='panel-footer'>
        <div class='row'>
          <div style='float:right;width:9%'>
            <%= submit_tag 'Next', class: 'btn btn-primary'%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
