<div class="panel panel-<%=@calculation.get_monthly_save > 0 ? 'success' : 'danger'%>" id='result'>
  <div class='panel-heading'>
    <font size='6'>Congratulations</font>
  </div>
  <div class='panel-body'>

    <table class="table">
      <thead>
        <tr>
          <th><%= Product.human_attribute_name("name") %></th>
          <th><%= t("amount") %></th>
          <th><%= t("hours_a_day") %></th>
          <th>Power difference</th>
          <th>Monthly save</th>
        </tr>
      </thead>
      <tbody>
        <% @calculation.calculation_lines.joins(:product).order('products.name').each do |calculation_line| %>
          <tr>
            <td><%=calculation_line.product.name%></td>
            <td><%=calculation_line.amount%></td>
            <td><%=calculation_line.hours%></td>
            <td><%=((calculation_line.product.power_incandescent - calculation_line.product.power_led) * calculation_line.amount).round(2)%>w</td>
            <td>
              <%=(((((calculation_line.product.power_incandescent - calculation_line.product.power_led) * calculation_line.amount) / 1000.0) * Calculation::ELECTRICITY_PRICE) * 30).round(2)%>€
            </td>
          </tr>
        <%end%>
        <tr>
          <td><b>Total</b></td>
          <td></td>
          <td></td>
          <td><b><%=@calculation.get_power_diff%>w</b></td>
          <td><b><%=@calculation.get_monthly_save.round(2)%>€</b></td>
        </tr>
      </tbody>
    </table>
    <p>The installation will cost you <%=@calculation.get_cost%>€.</p>
    <p>
      You will need <%=@calculation.amortization_string%> in order to amortize the investment.
      Take into account that the average led life is between 15 and 25 years.
    </p>
    <p>You can recover this calculation with this code: <strong><%=encode(@calculation.id)%></strong></p>
  </div>
  <div class='panel-footer'>
    <a class='btn btn-primary' href="/again">Do it again</a>
  </div>
</div>
